/* Obligatory comment */
/* Color name, background-color */
body {
    background-color: navy;
}
/* long margins, hsl */
h1 {
    background-color:hsl(180), 70%, 30%);
    margin-left: 20px;
    margin-bottom: 20ch;
    margin-right: 20cm;
    margin-top: 20vh;
    text-decoration: overline;
}
/* 3rd party font */
@font-face{
    font-famil
    src: url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
}
src: url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
h2.h2style{
    font-family: 'Hachi Maru Pop', cursive;
    border-style: solid;
    border-color: lightblue;
    border-width: thin;
    border-radius: 25px;
}

/* rgb, grouping */
h1, h2, h3{
    color: rgb(#00AAAA, green, yellow);
}

h3{
  background-color: grey;
  width: 300px;
  height: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 25px 50px 75px 100px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  text-align: center;
  max-width: 50%;
}

/* #FFFFF, #FFF, pseud-class */
a:active{
    color: #FF3300;
}
a:hover{
    color: #999898;
}
/* rgba, short margin, shorthand padding  */
* {
    background-color: rgba(red, green, blue, 30%);
}
/* hsla  */
p {
    background-color: hsla(0, 67%, 60%, 0.932);
}

p.static{
    position: static;
    border: 3px solid #73AD21;
}

p.sticky{
    position: sticky;
    border: 3px solid #3b21ad;
}

a[target] {
    font-size: 30rem;
}

p.pblock{
    display: block;
}

p.pinblock{
    display: inline-block;
}